---
import { getStore } from "@netlify/blobs";
import Layout from "../../layouts/Layout.astro";
import IconGrid2 from "../../assets/grid-2.svg";
import IconGrid3 from "../../assets/grid-3.svg";
import IconGrid4 from "../../assets/grid-4.svg";
import IconGrid5 from "../../assets/grid-5.svg";
import IconGrid6 from "../../assets/grid-6.svg";
import IconGrid7 from "../../assets/grid-7.svg";
import IconGrid8 from "../../assets/grid-8.svg";
import Editor from "../../components/Editor.svelte";
import type { GridMetadata } from "../../lib/types";

const { gridId } = Astro.params;
const hasConflict = Astro.url.searchParams.get("hasconflict") === "true";

const store = getStore({
  name: "photogrid",
  consistency: "strong",
});

let LAYOUT_STYLES = [
  { value: "grid-2", imageCount: 2, name: "2 image grid", icon: IconGrid2.src },
  { value: "grid-3", imageCount: 3, name: "3 image grid", icon: IconGrid3.src },
  { value: "grid-4", imageCount: 4, name: "4 image grid", icon: IconGrid4.src },
  { value: "grid-5", imageCount: 5, name: "5 image grid", icon: IconGrid5.src },
  { value: "grid-6", imageCount: 6, name: "6 image grid", icon: IconGrid6.src },
  { value: "grid-7", imageCount: 7, name: "7 image grid", icon: IconGrid7.src },
  { value: "grid-8", imageCount: 8, name: "8 image grid", icon: IconGrid8.src },
];

const gridMetadata: GridMetadata = await store.get(`${gridId}/metadata`, {
  type: "json",
});

if (gridMetadata === null) {
  return new Response(null, {
    status: 404,
  });
}

Astro.response.headers.set(
  "cache-control",
  "public, no-cache, must-revalidate" // do not cache, since any operation might change the photogrid. Haven't introduced a hash in query params, in such case, I could have used 'Netlify-Vary' header for even more finer control
);
---

<Layout title="Home">
  <main>
    <Editor
      client:only="svelte"
      LAYOUT_STYLES={LAYOUT_STYLES}
      gridMetadata={gridMetadata}
      hasConflict={hasConflict}
    />
  </main>
</Layout>
